.navbar{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
   color: goldenrod !important;
   font-weight: bold !important;
}
 .navbar li{
    margin: 0px 20px;
 }
 .navbar li a{
    text-decoration: none;
    color: aliceblue;
 }

 .mob-navbar{
    list-style: none;
 }
 .mob-navbar li{
    margin-top: 1.4rem;
    margin-right: 2rem;
 }
 .mob-navbar li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: inherit;
 }